@import url('normalize.css');


/* Body and Main Content */

body {
    background-color: #008080;
}

/* MAIN */

main {
    margin: 0 10rem;
    padding: 1rem;
}


@media only screen and (max-width: 600px) {
    main {
        margin: 0 2rem;
        padding: 1rem;
    }

}